table{
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

td {
	border: 1px solid #66ff66;
	text-align: left;
	padding: 5px;
	white-space: nowrap;
}

tr:nth-child(even) {
	background-color: #fffff1;
}

tr:hover {
	background-color: #66ff66;
}

canvas{
	background-image: url("Fish/fishBackground.png")
}
